.dropzone-container {
  &.invalid {
    border: 1px solid red;
  }
  .dropzone {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.05);
    overflow: hidden;
    text-align: center;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: transparent;
    font-size: 40px;
    text-shadow: 1px 1px 0.08px rgba(0,0,0,0.1);

    .uploadBtn {
      z-index: +5;
      padding: 10px;
      background-color: rgb(34, 175, 180);
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}